<div class="row">
  <h5 class="center">Login</h5>
  <p class="center red-text">{{error}}</p>
  <form class="col s12" [formGroup]="loginForm" (submit)="login()">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="icon_prefix" type="email" formControlName='email'>
        <label for="icon_prefix">Email</label>
        <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
          <small class="red-text" *ngIf="loginForm.controls.email.errors.required">Email is required</small>
          <small class="red-text" *ngIf="loginForm.controls.email.errors.email">Email is invalid</small>
        </div>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">password</i>
        <input id="icon_telephone" type="password" name="password" formControlName="password">
        <label for="icon_telephone">Password</label>
        <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
          <small class="red-text" *ngIf="loginForm.controls.password.errors.required">Password is required</small>
        </div>
      </div>
      <button class="waves-effect waves-light btn right">Login</button>
    </div>

  </form>
</div>
