<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white  " href="#"> &lt;/&gt; Programming Questions</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active"  >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/html" routerLinkActive="active">Html</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/css" routerLinkActive="active">CSS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/js" routerLinkActive="active">JavaScript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reactjs" routerLinkActive="active">Reactjs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nodejs" routerLinkActive="active">Nodejs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/angular" routerLinkActive="active">Angular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/python" routerLinkActive="active">Python</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

